
/*
font:
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;


color:
#043873
#FFE492
#4F9CF9 

*/

/* 
Google fonts
*/
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');
  /*  
   basic css 
  */
  body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #C4DEFD;
    color: #ffffff;
    
  }
  .theame-btn{
    background: #4F9CF9;
    border-radius: 8px;
    padding: 16px 24px !important;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
  }
  .theame-btn:hover{
    background-color: #FFE492;
    color: #ffffff;

  }
  .header-area .theame-btn{
    margin-left: 24px;
  }
  .header-area .theame-btn-two{
    margin-left: 24px;

  }
  .theame-btn img{
    margin-left: 10px;
  }
    
  .theame-btn-two {
    background-color: #FFE492;
    border-radius: 8px;
    padding: 16px 24px !important;
    display: inline-block;
    color: #043873 !important;
    
  }
 
  /*-header css--*/

  
  .header-area{
    background-color: #043873;
    padding: 16px 0;
  }

  .header-area .nav-link{
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    
    padding: 16px 24px !important;
  }
  .header-area   .navbar-toggler{
    border: none;
    box-shadow: none;
  }


  @media (max-width: 991px) {


    .theame-btn{
      width: 100%;
      text-align: center;
      margin-top: 15px;
    }


    .theame-btn-two {
      width: 100%;
      text-align: center;
    }
    .header-area .nav-link{
      padding: 16px 0;
    }
   .header-area .nav-link{
    position: relative;
   }
   .header-area .nav-link::after{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
   }

  }


  /*  hero css   */
  .hero-text h3{
    font-weight: 700;
    font-size: 52px;
    line-height:77px ;
  }
.hero-area{
  background-image: url(img/Hero-section.png);
  padding: 140px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-area .theame-btn{
  margin-top: 30px;
}